.customInputContainer {
  display: flex;
  width: 100%;
  flex-direction: column;

  .p-error {
    font-size: 1rem;
    margin-top: 0.25rem;
  }

  /* ESTILOS ESPECÍFICOS PARA O PASSWORD */
  .p-password {
    width: 100%;
    display: flex;
    align-items: center;

    .p-inputtext {
      width: 100%;
      flex-grow: 1;
      padding-right: 2.5rem; /* Espaço para o ícone */
    }

    .p-password-toggle {
      margin-left: -2.5rem;
      z-index: 1;
      background: transparent;
      border: none;
      color: #6b7280;
      cursor: pointer;
    }
  }
}

.customInputLabel {
  display: block;
  margin-bottom: 0.10rem;
  font-weight: 400;
  color: #3f3f46;
}

.customInput {
  padding: 0.75rem 1rem;
  border: 1px solid var(--primary-color);
  border-radius: 8px;
  font-size: 1rem;
  width: 100%;
  font-family: inherit;

  &:focus {
    outline: none;
    border-color: #4b00ff;
    box-shadow: 0 0 0 0.2rem rgba(75, 0, 255, 0.1);
  }

  &.p-invalid {
    border-color: #f44336 !important;

    &:focus {
      border-color: #f44336 !important;
      box-shadow: 0 0 0 0.2rem rgba(244, 67, 54, 0.2);
    }
  }

  &:disabled {
    background-color: #f3f3f3;
    border-color: #d4d4d4 !important;
    cursor: not-allowed;

    &::placeholder {
      color: #9ca3af;
    }
  }
}